<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTADO DE PRODUCTOS</title>
</head>
<body>
    <div>
        <form action="" method="POST">
            <label class="label-formulario" for="productName">Nombre del producto</label>
            <input class="input-formulario" type="text" name="productName" id="productName" placeholder="Nombre">
            <br>

            <label class="label-formulario" for="productTalle">Talle</label>
            <input class="input-formulario" type="text" name="productTalle" id="productTalle" placeholder="Talle">
            
            <br>
            <label class="label-formulario" for="productColor">Color</label>
            <input class="input-formulario" type="text" name="productColor" id="productColor" placeholder="Color">

            <br>
            <label class="label-formulario" for="productPrecio">Precio</label>
            <input class="input-formulario" type="text" name="productPrecio" id="productPrecio" placeholder="Precio">

            <br>
            <label class="label-formulario" for="productDescription">Descripcion</label>
            <input class="input-formulario" type="text" name="productDescription" id="productDescription" placeholder="Descripcion">

            <br>
            <label class="label-formulario" for="productDiscount">Descuento?</label>
            <input class="input-formulario" type="text" name="productDiscount" id="productDiscount" placeholder="Descuento">
            <br>

            <button class="boton-formulario" type="submit">Crear</button>
        </form>
    </div>

    <% productos.forEach(producto => { %>
            <div style="padding-top: 5px;">
                <div style="background-color: aquamarine;">
                    <h4 class="nombreProduct"><%= producto.nombre %></h4>
                    <h4 class="talleProduct"><%= producto.talle %></h4>
                    <h4 class="colorProduct"><%= producto.color %></h4>
                    <h4 class="descriptionProduct"><%= producto.descripcion %></h4>
                    <p class="d-inline"><%= (producto.precio).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></p>
                    <p class="d-inline"><%= producto.descuento %>% OFF</p>
            </div>
            </div>
        <% }) %>


</body>
</html>